page-page1 {
  .barra{
    max-height: 5%;

  }
  .toolbar {
      display: flex;
      overflow: hidden;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 100%;
      color: #179C7F;
  }

}
